body{
    background-color: plum;
}
h1 {
    border: 2px solid black;
    color: black;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}
.col-sm{
    border: 2px solid black;
    display: inline-block;
}
.header{
    border: 2px solid aqua;
    background-color: aqua;
    margin: 0px;
    padding: 0px;
}